.App {
  min-height: 100vh;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.search {
  flex-grow: 1;
}

.essence {
  position: absolute;
  z-index: -1;
  margin: auto;
  margin-top: 200px;
  left: 0;
  right: 0;
  width: 50%;
}

.search-box {
  flex-grow: 1;
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 2em;
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.error {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  background-color: #f79191;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.extractor-result {
  flex-grow: 1;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  padding: 10px;
  /* width: 80%; */
}

pre {
  text-align: left;
  font-size: 12px;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
